header {
	width:100%; 
	overflow:hidden;
	background:#252932;
	margin-bottom:20px;



	
}

.wrapper {
	width:90%; 
	max-width:1000px; 
	margin:auto;
	overflow:hidden; 
}

header .logo {
	color:#f2f2f2;
	font-size:50px;
	line-height:200px;
	float:left;
}

header nav {
	float:right;
	line-height:200px;
}

header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

header nav a:hover {
	background:#f56f3a;
	border-radius:50px;
	  }


	  /*particulas*/

	  /* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
	background:#111;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #252932;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  position: relative;
  display: inline-block;
    text-align: center;

}


.txt{
	
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
}



#particles{

  height: 50vh;
  width: 100%;
  position: fixed;
  z-index: -1;
  }


  /*targetas*/
#targetas{
display: flex;
background: #efefef;
justify-content: center;
}

  .targeta img{
width: 100%;

  }
.targeta{
width:20% ;

margin: 30px 30px 30px;;
background: #fff;
padding: 20px;
text-align: center;
box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.459);
}
body{
	margin: 0;
	padding: 0;
}

	/*header sub*/
	.redes{
		padding: 60px;
		text-align: center;
		background: #ffffff;
		color: rgb(56, 56, 56);
		font-size: 30px;
		background-image: 'pexels-tobias-bjørkli-1819660.jpg';
	  }

	  

		
	  
	
	  .res{
		padding: 60px;
		display: flex;
		background: #ffffff;
		color: rgb(56, 56, 56);
		font-size: 30px;
		background-image: 'pexels-tobias-bjørkli-1819660.jpg';
	  }
	 p{
		 font-size: 14px;
	 }




	 *{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
	 }
	 

	 /*login*/
	 body {
		margin: 0;
		padding: 0;
		background: url(../img/bg.jpeg) no-repeat center top;
		background-size: cover;
		font-family: sans-serif;
		height: 100vh;
	  }
	  
	  .login-box {
		width: 320px;
		height: 420px;
		background: #000;
		color: #fff;
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
		box-sizing: border-box;
		padding: 70px 30px;
	  }
	  
	  .login-box .avatar {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		position: absolute;
		top: -50px;
		left: calc(50% - 50px);
	  }
	  
	  .login-box h1 {
		margin: 0;
		padding: 0 0 20px;
		text-align: center;
		font-size: 22px;
	  }
	  
	  .login-box label {
		margin: 0;
		padding: 0;
		font-weight: bold;
		display: block;
	  }
	  
	  .login-box input {
		width: 100%;
		margin-bottom: 20px;
	  }
	  
	  .login-box input[type="text"], .login-box input[type="password"] {
		border: none;
		border-bottom: 1px solid #fff;
		background: transparent;
		outline: none;
		height: 40px;
		color: #fff;
		font-size: 16px;
	  }
	  
	  .login-box input[type="submit"] {
		border: none;
		outline: none;
		height: 40px;
		background: #b80f22;
		color: #fff;
		font-size: 18px;
		border-radius: 20px;
	  }
	  
	  .login-box input[type="submit"]:hover {
		cursor: pointer;
		background: #ffc107;
		color: #000;
	  }
	  
	  .login-box a {
		text-decoration: none;
		font-size: 12px;
		line-height: 20px;
		color: darkgrey;
	  }
	  
	  .login-box a:hover {
		color: #fff;
	  }
	
	  /*fodter*/

	  body{
		line-height: 1.5;
		font-family: 'Poppins', sans-serif;
	}
	*{
		margin:0;
		padding:0;
		box-sizing: border-box;
	}
	.container{
		max-width: 1170px;
		margin:auto;
	}
	.row{
		display: flex;
		flex-wrap: wrap;
	}
	ul{
		list-style: none;
	}
	.footer{
		background-color: #24262b;
		padding: 70px 0;
	}
	.footer-col{
	   width: 25%;
	   padding: 0 15px;
	}
	.footer-col h4{
		font-size: 18px;
		color: #ffffff;
		text-transform: capitalize;
		margin-bottom: 35px;
		font-weight: 500;
		position: relative;
	}
	.footer-col h4::before{
		content: '';
		position: absolute;
		left:0;
		bottom: -10px;
		background-color: #e91e63;
		height: 2px;
		box-sizing: border-box;
		width: 50px;
	}
	.footer-col ul li:not(:last-child){
		margin-bottom: 10px;
	}
	.footer-col ul li a{
		font-size: 16px;
		text-transform: capitalize;
		color: #ffffff;
		text-decoration: none;
		font-weight: 300;
		color: #bbbbbb;
		display: block;
		transition: all 0.3s ease;
	}
	.footer-col ul li a:hover{
		color: #ffffff;
		padding-left: 8px;
	}
	.footer-col .social-links a{
		display: inline-block;
		height: 40px;
		width: 40px;
		background-color: rgba(255,255,255,0.2);
		margin:0 10px 10px 0;
		text-align: center;
		line-height: 40px;
		border-radius: 50%;
		color: #ffffff;
		transition: all 0.5s ease;
	}
	.footer-col .social-links a:hover{
		color: #24262b;
		background-color: #ffffff;
	}
	
	/*responsive*/
	@media(max-width: 767px){
	  .footer-col{
		width: 50%;
		margin-bottom: 30px;
	}
	}
	@media(max-width: 574px){
	  .footer-col{
		width: 100%;
	}
	}
	
	